body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    color: #d7dfe4;
}

.digit{
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-right: 35px;
}

#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn {
    padding: 7px 25px;
    font-size: 20px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    /* box-shadow: none; */
    box-shadow: 3px 3px 10px #818274;

}
#start {
    background-color: #009688;
}


#stop{
    background-color: #C2BB00;
}


#reset{
    background-color: #D92525;
}